body {
    background: url(../img/foxtail.png);
}

.col-md-8 {
    background-color: #fff;
    border: 2px solid #D8D8D8;
    box-shadow: 10px 10px 5px #888888;
}

.container {
    margin-top: 20px;
}

h1 {
    font-family: 'times new roman';
}

.block-portfolio {
    padding-top: 20px;
}