body { 
    width: 8000px;
    background-color: #8D8D8D;
}

a {
    font-size: 1.2em;
    color: white;
    text-decoration: none;
}

a:visited {
    color: #e67e22;
}

.panel { 
    width: 930px; 
    float: left; 
    padding-left: 30px; 
    padding-right: 1040px;
    margin-top: 45px;
    background-color: #787878;
}

ul#banner { 
    position: fixed; 
    line-height: 45px; 
    margin: 0 30px; 
    padding: 0; 
} 

ul#banner li { 
    display: inline; 
}