body { 
    width: 10000px;
}

p {
    font-family: sans-serif;
    font-size: 1.4em;
    color: grey;
}

a {
    font-size: 1.2em;
    color: white;
    text-decoration: none;
}

a:visited {
    color: #e67e22;
}

.panel { 
    width: 1370px; 
    float: left; 
    padding-left: 30px; 
    margin-top: 45px;
}

ul#banner { 
    position: fixed; 
    line-height: 45px; 
    margin: 0px; 
    padding: 0 30px; 
    background-color: #8D8D8D;
    width: 100%;
} 

ul#banner li { 
    display: inline;
    width: 30px;
    height: 0px;
    transition: width 2s;
    -webkit-transition: width 2s;
}

ul#banner a:hover { 
    background-color: #e67e22;
    width: 50px;
    height: 45px;
}