body { 
    width: 10000px;
}

p {
    font-family: sans-serif;
    font-size: 1.4em;
    color: grey;
}

a {
    font-size: 1.2em;
    color: white;
    text-decoration: none;
}

a:visited {
    color: #e67e22;
}

#header {
   margin-left: 300px;
}

.panel { 
    width: 1400px; 
    float: left; 
    padding-left: 30px; 
    padding-right: 30px;
    margin-top: 45px;
}

ul#banner { 
    position: fixed; 
    line-height: 45px; 
    margin: 0px; 
    padding: 0 30px; 
    background-color: #8D8D8D;
    width: 100%;
} 

ul#banner li { 
    display: inline;
}

h1 {
    font-family: 'times new roman';
}

.block-portfolio {
    padding-top: 20px;
}